.menu {
    margin-top: 0px;
    font-family: sans-serif;
    position: fixed;
    top: 0px;
    width: 100%;
    cursor: pointer;
    z-index: 9;
    background-color: white;
}

.links {
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-family: 'Pattaya', sans-serif;
    color: #f50707;
}

.links:hover {
    background-color: greenyellow;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: indigo;
    text-shadow: 2px 2px gainsdoro;
}



#contact {
    background: firebrick;

}

.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 99999;
}

#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

input {
    background: grey;
}

.travel_mainDiv h5,
.travel_mainDiv p {
    margin-left: 20px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: #ff7700;
}

#video {
    height: 800px;
    width: 100%;
    border: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.travel_mainDiv {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid #c7c7c7;
}

.travel_mainDiv img {
    width: 100%;
    height: 300px
}

.travel_mainDiv hr {
    width: 100%;
}

#marqueeStyle {
    background-color: blue;
    width: 100%;
    direction: right;
    height: 800px;
    color: beige;
    font-size: 120%;
}

.announcement {
    background-color: blue;
    width: 100%;
    height: 30px;
}
h2{
    text-align: left;
}
#achievementID{
   padding-bottom: 10px 
}

#footer{
    height: 20px;
    background-color: white;
}
#map iframe{
    width: 50%;
    float: left;
    padding-top: 5px; 
}
.environment_li {
    margin-top: 20px;
}

.environment_li h4 {
    border-bottom: 1px solid white;
    padding: 9px;
}

.environment_li img {
    border-radius: 30px;
}

.environment_li p {
    margin-top: 10px;
}

#footer{
 height: 20px;
background-color: white;
}

#alumnist {
    cursor: pointer;
}

#alumni hr {
    margin-bottom: 10px;
}

.modal_content {
    margin-top: 100px
}

.img_modal {
    display: inline-block;
}

.p_modal {
    margin-top: 10px;
}

.modal-body {
    text-align: center;
}

.modal-header{
    margin-top: 20px;
}

.alumnist img{
    height:250px;
}

